/build/
/docs/_build/
/docs/source/
/dist/
/.eggs/
/*.egg-info
/l
/local/
datastore.dat
oauth_client_secret
private_notes
dropbox_app_key
dropbox_app_secret
facebook_app_id
facebook_app_secret
facebook_app_id_local
facebook_app_secret_local
flickr_app_key
flickr_app_secret
google_client_id
google_client_secret
instagram_client_id
instagram_client_secret
instagram_client_id_local
instagram_client_secret_local
medium_client_id
medium_client_secret
tumblr_app_key
tumblr_app_secret
twitter_app_key
twitter_app_secret
wordpress.com_client_id
wordpress.com_client_secret
wordpress.com_client_id_local
wordpress.com_client_secret_local
disqus_client_id
disqus_client_secret
disqus_client_id_local
disqus_client_secret_local
TAGS
