/build/
/docs/_build/
/dist/
/.eggs/
/*.egg-info
/l
/l3
/local*/
datastore.dat
oauth_client_secret
private_notes
dropbox_app_*
facebook_app_*
flickr_app_*
github_client_*
google_client_*
instagram_client_*
linkedin_client_*
medium_client_*
meetup_client_*
reddit_app_*
tumblr_app_*
twitter_app_*
wordpress.com_*
disqus_client_*
TAGS
