# Keep in sync with setup.py's install_requires!
-e git+https://github.com/snarfed/gdata-python-client-1.git#egg=gdata
google-api-python-client>=1.4.0,!=1.5.0
httplib2
oauth2client<2.0
oauthlib
python-tumblpy
requests>=2.10.0
requests-oauthlib
requests-toolbelt>=0.6.2
tweepy>=3.0
beautifulsoup4
mf2py
mf2util
urllib3>=1.14
