# Keep in sync with setup.py's install_requires!
-e git+https://github.com/snarfed/gdata-python-client-1.git#egg=gdata
future
google-api-python-client>=1.7.4
httplib2
humanize
oauth2client>=4.1.1
oauthlib
python-tumblpy
requests>=2.10.0
requests-oauthlib
requests-toolbelt>=0.6.2
tweepy>=3.7.0
beautifulsoup4
mf2py>=1.1.2
mf2util
mox3>=0.24.0
urllib3>=1.14
webapp2>=3.0.0b1
