<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>oauth-dropins demo</title>
  <meta name="viewport" content="width=device-width">

  <!-- Bootstrap CSS. Fetched from
    -- http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/ on 2004-03-13. -->
  <link rel="stylesheet" href="/static/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>

<!-- github ribbon: https://github.com/blog/273-github-ribbons -->
<a href="https://github.com/snarfed/oauth-dropins">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
       src="//s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"
       alt="Fork me on GitHub" />
</a>

<main class="tp-main">
  <div class="container">
    <h1>oauth-dropins</h1>
    <p class="lead">A collection of drop-in
<a href="http://oauth.net/">OAuth</a> client flows for
Python on <a href="https://appengine.google.com/">App Engine</a>. Details in
the <a href="https://github.com/snarfed/oauth-dropins">GitHub repo.</a></p>

    <p class="lead">Click on a site to try its drop-in!</p>

<p class="lead"><em>
{% if declined %}
<span style="color: red">User declined the access request.</span>
{% else %}{% if error %}
<span style="color: red">Error fetching user details.</span>
{% endif %}
{% endif %}
{% if entity %}
<span style="color: green">
 Authenticated {{ entity.user_display_name }} on {{ entity.site_name }}.</span>
<!--
{% if access_token %}
  Access token {{ access_token }}.<br />
{% endif %}
{% if access_token_key or access_token_secret %}
  Access token key {{ access_token_key }}, secret {{ access_token_secret }}.
{% endif %}
-->
{% endif %}
</em></p>

<br />
<div class="row">
<div class="col-md-3 col-sm-6"><form method="post" action="/facebook/start">
  <input type="image" class="shadow" alt="Facebook" src="/static/facebook.png" />
</form></div>
<div class="col-md-3 col-sm-6"><form method="post" action="/twitter/start">
  <input type="image" class="shadow" alt="Twitter" src="/static/twitter.png" />
</form></div>
  <div class="clearfix visible-sm"></div>
<div class="col-md-3 col-sm-6"><form method="post" action="/googleplus/start">
  <input type="image" class="shadow" alt="Google+" src="/static/google_plus.png" />
</form></div>
<div class="col-md-3 col-sm-6"><form method="post" action="/instagram/start">
  <input type="image" class="shadow" alt="Instagram" src="/static/instagram.png" />
</form></div>
</div>
<br />

<div class="row">
<div class="col-md-3 col-sm-6"><form method="post" action="/dropbox/start">
  <input type="image" alt="Dropbox" src="/static/dropbox.png" />
</form></div>
<div class="col-md-3 col-sm-6"><form method="post" action="/wordpress_rest/start">
  <input type="image" class="shadow" alt="WordPress.com" src="/static/wordpress_com.png" />
</form></div>
  <div class="clearfix visible-sm"></div>
<div class="col-md-3 col-sm-6"><form method="post" action="/tumblr/start">
  <input type="image" class="shadow" alt="Tumblr" src="/static/tumblr.png" />
</form></div>
<div class="col-md-3 col-sm-6"><form method="post" action="/blogger_v2/start">
  <input type="image" class="shadow" alt="Blogger" src="/static/blogger.png" />
</form></div>
</div>
<br />

<div class="row">
<div class="col-md-3 col-sm-6"><form method="post" action="/flickr/start">
  <input type="image" class="shadow" alt="Flickr" src="/static/flickr.png" />
</form></div>

<div class="col-md-3 col-sm-6"><form method="post" action="/disqus/start">
  <input type="image" class="shadow" alt="Disqus" src="/static/disqus.png" />
</form></div>

<div class="col-md-3 col-sm-6"><form method="post" action="/indieauth/start">
  <input type="image" class="shadow" alt="IndieAuth" src="/static/indieauth_logo.png" />
</form></div>
</div>

</div>
</main>

</body>
</html>
